body {
  background: #fffdfa;
  color: #332100;
  margin: 0;
}

.hidden {
  display: none;
}

/* EJERCICIO 5 */

.palettes {
  margin: 0 auto;
  width: 640px;
  text-align: center;
}
.palette__container{
  padding: 10px;
  list-style: none;
  margin: 5px;
}
.palette__name{
  font-family: "Lucida Console", Monaco, monospace;
  font-style: italic;
  font-size: 16px;
}
.color__item {
  display: inline-block;
  height: 100px;
  width: 100px;
  box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.3);
}

/* EJERCICIO 7 */

.selected__palette{
  background-color: #a2e8c6;
  border-radius: 10px;
}

/* EJERCICIO 8*/

.form {
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 20px; 
}