body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spaceship {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin-right: 25%;
  font-style: italic;
}